.bg-light2 {
  background-color: #bdbdbd;
}

.bg-light {
  background-color: #f7f7f7;
}

.bg-dark {
  background-color: #222;
}

.bg-purple {
  background-color: #7c3bd1;
}

.bg-blue {
  background-color: #4769ff;
}

.bg-transparent {
  background-color: transparent;
}

.gradient-bottom {
  height: 50%;
  background-image: linear-gradient(transparent, rgba(128, 0, 128, 0.326));
}

.gradient-bottom--light2 {
  background-image: linear-gradient(transparent, rgba(189, 189, 189, 0.4));
}

.gradient-bottom--light {
  background-image: linear-gradient(transparent, rgba(247, 247, 247, 0.4));
}

.gradient-bottom--dark {
  background-image: linear-gradient(transparent, rgba(34, 34, 34, 0.4));
}

.gradient-bottom--purple {
  background-image: linear-gradient(transparent, rgba(124, 59, 209, 0.4));
}

.gradient-bottom--blue {
  background-image: linear-gradient(transparent, rgba(71, 105, 255, 0.4));
}

.gradient-bottom--transparent {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.text-logo {
  font-size: 1.2em;
  font-weight: bold;
}

.text-dark {
  color: #222;
}

.text-light {
  color: #f7f7f7;
}
.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light p {
  color: #f7f7f7;
}

.text-light2 {
  color: #bdbdbd;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 12px;
  margin-bottom: 12px;
  overflow-wrap: break-word;
  color: #222;
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
  overflow-wrap: break-word;
  color: #222;
}

.text-s {
  font-size: small;
}

.text-m {
  font-size: medium;
}

.text-l {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.text-xxl {
  font-size: xx-large;
}

.text-xxxl {
  font-size: 40px;
}

.outline, .out-transparent, .out-blue, .out-purple, .out-dark, .out-light, .out-light2, .out-4, .out-2, .out-1 {
  outline-style: solid;
  outline-color: #bdbdbd;
}

.out-1 {
  outline-width: 1px;
}

.out-2 {
  outline-width: 2px;
}

.out-4 {
  outline-width: 4px;
}

.out-light2 {
  outline-color: #bdbdbd;
}

.out-light {
  outline-color: #f7f7f7;
}

.out-dark {
  outline-color: #222;
}

.out-purple {
  outline-color: #7c3bd1;
}

.out-blue {
  outline-color: #4769ff;
}

.out-transparent {
  outline-color: transparent;
}

.shadow, .shadow-transparent, .shadow-blue, .shadow-purple, .shadow-dark, .shadow-light, .shadow-light2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-light2 {
  outline-color: #bdbdbd;
}

.shadow-light {
  outline-color: #f7f7f7;
}

.shadow-dark {
  outline-color: #222;
}

.shadow-purple {
  outline-color: #7c3bd1;
}

.shadow-blue {
  outline-color: #4769ff;
}

.shadow-transparent {
  outline-color: transparent;
}

html {
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  color: #222;
}

body {
  padding-top: 60px;
  /* Adjust this value based on your navbar height */
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.navbar {
  background-color: #222;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding-left: 1em;
  padding-right: 1em;
  gap: 24px;
}
.navbar li {
  display: flex;
  gap: 10px;
  padding: 15px;
}
.navbar li a {
  color: #f7f7f7;
  text-align: center;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar li a:hover:not(.active) {
  opacity: 0.9;
}
.navbar .active {
  color: white;
}
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
}

.float-left {
  float: left;
}

.flex-end {
  margin-right: auto;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.game-logo {
  max-width: 30%;
}

.circle-img {
  border-radius: 100%;
  display: flex;
}

.rounded {
  border-radius: 25px;
}

.section {
  min-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

.panel {
  min-width: 5em;
  min-height: 30em;
  overflow: hidden;
  display: flex;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  text-decoration: none;
}
.panel div {
  display: inline-block;
  align-self: flex-end;
}

.blog-panel {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  margin-bottom: 2em;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}
.blog-panel div {
  display: inline-block;
  align-self: flex-end;
}

.mask {
  overflow: hidden;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}

.background-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.hover3D {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center center;
}
.hover3D:hover {
  transform: scale3d(1.02, 1.02, 1.02) rotate(0.5deg);
  filter: drop-shadow(0px 12px 30px rgba(0, 0, 0, 0.15));
}

#logo img {
  outline-color: #f7f7f7;
  outline-width: 0px;
  outline-style: inset;
}

/* Button */
.button {
  display: inline-block;
  align-items: center;
  text-align: center;
  background-color: #D9D9D9;
  padding: 1rem;
  color: #7c3bd1;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  /* Ensure cell borders are collapsed */
  width: 100%;
}
table th {
  background-color: #222;
  color: #f7f7f7;
}
table td,
table th {
  border: 1px solid #222;
  padding: 8px;
}

.list-boxed ul {
  list-style: none;
  padding: 0;
}
.list-boxed li {
  margin-top: 0.5em;
  padding: 10px;
  background-color: #f7f7f7;
}
.list-boxed li > li {
  margin-top: 0;
}/*# sourceMappingURL=main.css.map */