{{define "head"}}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Roxxy & Ewe: FULL DECK!</title>


{{- partial "head.html" . -}}


<style>
    @import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
</style>

<link rel="stylesheet" href="/css/RoxxyEweStyle.css">



{{ end }}


{{define "header"}}

<header>

    <div class="container flex justify-between md:justify-between gap-4 flex-wrap p-6 mx-auto relative items-center">

        {{ partial "logo.html" . }}

<ul class="mobile-menu absolute episode-nav z-10 px-6 pb-6 md:p-0 top-full left-0 w-full md:w-auto md:relative hidden md:flex flex-col md:flex-row items-end md:items-center gap-4 lg:gap-6 bg-white dark:bg-gray-800">
    
  <li>
    <a href="#">Pilot Episode:<br>
                        <span class="episode-title">Roxxy & Ewe: FULL DECK!</span>
                    </a>
  </li>
  
  <li>
                       <a href="#">Episode 2:<br>
                        <span class="episode-title">Roxxy & Ewe: The Streissner Factory</span>
                    </a>
  </li>
</ul>
    </div>

</header>

{{ end }}


{{define "main"}}


<div class="hero text-center">
    <div class="container">
        <div class="text-yellow game_logo">Roxxy & Ewe</div>
        <h1 class="">FULL DECK!</h1>
    </div>
</div>



<div class="text-center" style="height: 250px; position:relative">
    <!-- Make video overlap with hero element -->
    <div style="position: absolute; top: -200px; left: 0; right: 0; margin: auto;">
        <iframe width="746" height="450" src="https://www.youtube-nocookie.com/embed/nmg5ofF8D1o?si=Bf8is_wOO65ucVM9"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<div class="container">

    <div class="content text-center ">

        <div style="max-width:800px; margin: auto;">
            <div class="quote">“Oh no, its these two”</div>
            <p class="description">
                Join Roxxy & Ewe on their whimsical quest to journey through the world. One is in for the thrill,
                the
                other strives to spread kindness. Although they may not agree on everything, one thing they share:
            </p>
            <p class="description">
                <i>Both are utterly underqualified for adventuring.</i>
            </p>
            <p class="description">
                But together, they <b>just may</b> overcome even the biggest challenges.
            </p>
        </div>

    </div>

    <div class="content ">
        <div class="feature">
            <div class="image-placeholder hover3D" style="background-image: url('path-to-your-image.jpg');"></div>
            <div class="feature-content">
                <h2>The City with no Cards</h2>
                <p>Our unconventional adventurers find themselves stuck in a vibrant, idyllic kingdom where card
                    games are banned. As Roxxy's beloved deck is confiscated, it's clear that the kingdom's gravest
                    threat isn't from some mythical beasts or draconic foes, but from the sheer boredom its
                    residents are now forced to endure.
                </p>
                <p>
                    Can our duo sway the royal family to lift the ban and
                    retrieve Roxxy's cards back? Can they do that while keeping a moral high ground? And what about
                    the dragon?</p>
            </div>
        </div>


        <div class="feature">
            <div class="image-placeholder hover3D" style="background-image: url('path-to-your-image.jpg');"></div>
            <div class="feature-content">
                <h2>Switcheroo!</h2>
                <p>Some problems require wits, some means and some both. Toggle seamlessly between Roxxy and Ewe to
                    navigate through the oddest situation, craziest dialogue or the trickiest puzzle.</p>
            </div>
        </div>


        <div class="feature">
            <div class="image-placeholder hover3D" style="background-image: url('path-to-your-image.jpg');"></div>
            <div class="feature-content">
                <h2>Cross-Platform</h2>
                <p>TBA</p>
            </div>
        </div>
    </div>



<div class="content">
  <h2 class="text-4xl mb-4">Gallery</h2>
  <div class="flex flex-wrap justify-center gap-4">
    <div class="thumbnail hover3D" style="background-image: url('path-to-your-image.jpg');"></div>
    <div class="thumbnail hover3D" style="background-image: url('path-to-your-image.jpg');"></div>
    <div class="thumbnail hover3D" style="background-image: url('path-to-your-image.jpg');"></div>
    <div class="thumbnail hover3D" style="background-image: url('path-to-your-image.jpg');"></div>
    <div class="thumbnail hover3D" style="background-image: url('path-to-your-image.jpg');"></div>
  </div>
</div>

</div>


{{ end }}


