<div class="section p-12 bg-purple-50">
  <article class="container">
    <h2 class="text-4xl pb-2 font-bold">Toolset</h2>
    <br>

    <!-- Game Tools Section -->
    <div class="mb-8">
      <h3 class="text-xl font-bold mb-2">Game Development</h3>
      <div class="flex space-x-4">
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">
          <!-- Unity Icon -->
          <i class="fab fa-brands fa-unity mr-2"></i>
          Unity3D
        </span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">Flax Engine</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">Godot Engine</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">FMOD Studio</span>

      </div>
    </div>


    <div class="mb-8">
      <h3 class="text-xl font-bold mb-2">Languages</h3>
      <div class="flex space-x-4">
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">C#</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg"><i class="fab fa-brands fa-python mr-2"></i>Python</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg"><i class="fab fa-brands fa-html5 mr-2"></i>HTML / CSS / JS</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg"><i
            class="fab fa-brands fa-java mr-2"></i>Java</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg"><i class="fab fa-solid fa-database mr-2"></i>SQL (MS, Oracle, MySQL)</span>
      </div>
    </div>



    <div class="mb-8">
      <h3 class="text-xl font-bold mb-2">Media</h3>
      <div class="flex space-x-4">
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg"><i
            class="fab fa-brands fa-figma mr-2"></i>Figma</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">Presonus Studio One</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">Blender</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">HitFilm Pro</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">Clip Studio Paint</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">Substance Painter</span>
      </div>
    </div>


    <div class="mb-8">
      <h3 class="text-xl font-bold mb-2">Tech</h3>
      <div class="flex space-x-4">
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg"><i
            class="fab fa-brands fa-linux mr-2"></i>Linux</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">ASP.NET</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg"><i
            class="fab fa-brands fa-git mr-2"></i>Git</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg"><i
            class="fab fa-brands fa-github mr-2"></i>GitHub</span>
        <span class="flex items-center px-4 py-2 border border-gray-400 rounded-lg">Fishnet (Multiplayer)</span>
      </div>
    </div>


  </article>
</div>

